<section class="login-bg-wrapper">
  <main class="global-card-wrapper">
    <div class="login-card-wrapper">
      <div class="login-card-content">
        <div class="scratch-logo-wrapper">
          <div class="scratch-logo-content">
            <img src={~p"/assets/images/scratch-logo.png"} alt="" />
          </div>
        </div>

        <.flash_group flash={@flash} />
        <%= @inner_content %>
      </div>
    </div>
  </main>
</section>
